<main role="main" class="container">
  <div class="jumbotron">
    <h1> 
      Hi <%= image_tag 'https://raw.githubusercontent.com/kaueMarques/kaueMarques/master/hi.gif', 
      class: "icon-index" %>, <%= current_user.try(:name)%>!
    </h1>
    <div>
      <h1><%= @title %></h1>
      <p class="lead">
        Create, customize and manage your contact list from anywhere.
      </p>
    </div>
    <% if user_signed_in? %>
      <%= link_to new_contact_path do %>
          <button type="button" role="button" class="btn btn-lg btn-primary text-white">
            New Contact &raquo;
          </button>
      <% end %>
    <% else %>
      <%= link_to new_user_registration_path do %>
          <button type="button" role="button" class="btn btn-lg btn-primary text-white">
            Create Account &raquo;
          </button>
      <% end %>
    <% end %>
  </div>
</main>
