<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <% contact.errors.full_messages.each do |msg| %>
            <%= content_tag :div, msg, :id => "flash_error" %>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
