<div class="jumbotron">
  <%= image_tag(@contact.try(:avatar_url), class: "img-avatar") if @contact.avatar? %>
  <p>
    <strong>Name:</strong>
    <%= @contact.name %>
  </p>
  <p>
    <strong>Phone:</strong>
    <%= @contact.phone %>
  </p>
  <%= link_to 'Edit', edit_contact_path(@contact), class: 'btn  btn-warning btn-sm'%> |
  <%= link_to 'Back', contacts_path, class: 'btn btn-secondary btn-sm' %>
<div>
